
/* Main CSS */
        body,html {
            margin: 0;
            padding: 0;
        }

        body {
            margin: 0;
            padding: 0;
            background-color: #F5F5F5;
        }

        a {
            color: #821921;
            text-decoration: none;
        }

/* Header Section */

        header {
            display: flex;
            align-items: flex-end;
            padding: 10px;
            background-color: #F5F5F5;
        }

        .topnav ul {
            list-style: none;
            display: flex;
            gap: 50px;
            text-align: left;
            padding-left: 0px;
            font-size: 1.3em;
        }

        a.viewing { 
            font-weight: bold;
            text-decoration: underline;
        }

        .topnav ul {
            margin-right: 50px;
        }

        .logo img {
            margin-right: 50px;
        }
        
        .topnav a {
            color: #821921;
            font-family: 'Montserrat', monospace;
            text-decoration: none;
        }
        
        .topnav a:hover {
            text-decoration: underline;
            color: #821921;
        }
        
        .cta-button a {
            display: inline-block;
            text-decoration: none;
            text-align: center;
            padding: 10px 50px;
            background-color: #821921; 
            color: #F5F5F5; 
            border-radius: 50px;
            margin-bottom: 18px;
            white-space: nowrap;
            font-family: 'Montserrat', monospace;
            font-size: 1.3em;
        }
        
        .cta-button a:hover {
            text-decoration: none;
            display: inline-block;
            text-align: center;
            padding: 10px 50px;
            background-color: #646559; 
            color: #F5F5F5; 
            border-radius: 50px;
            margin-bottom: 18px;
            white-space: nowrap;
            font-family: 'Montserrat', monospace;
            font-size: 1.3em;
        }

/* Home Page Value Prop Statement Section */
        .value {
            color: #F5F5F5;
            background-color: #646559;
            text-align: left;
            font-size: 5em;
            padding-left: 100px;
            padding-top: 75px;
            font-family: 'IBM Plex Serif', 'Courier New', Courier;
        }

        .valuesub {
            color: #F5F5F5;
            background-color: #646559;
            text-align: left;
            font-size: 3em;
            padding-left: 100px;
            padding-bottom: 75px;
            font-family: 'Montserrat', monospace;
        }

        .valueowner {
            color: #F5F5F5;
            background-color: #646559;
            text-align: left;
            font-size: 1.5em;
            padding-left: 100px;
            padding-bottom: 75px;
            font-family: 'Montserrat', monospace;
        }

/* Home Page Repair Process Section */
        h2.process {
            color: #821921;
            text-align: center;
            font-size: 3em;
            font-family: 'IBM Plex Serif', 'Courier New', Courier;
            background-color: #B3BFAF;
            margin: 0px;
            padding: 25px;
        }

        h3.process {
            color: #821921;
            text-align: center;
            font-size: 1.5em;
            font-family: 'Montserrat', monospace;
        }

        .box-container {
            display: flex;
            justify-content: space-around;
            padding-left: 100px;
            padding-right: 100px;
            background-color: #B3BFAF;
        }

        .box {
            text-align: center;
            padding: 10px;
            background-color: white;
            border-radius: 50px;
            margin-left: 30px;
            margin-right: 30px;
            font-family: 'Montserrat', monospace;
            color: #646559;
        }

        h3.box-step-process {
            color: #821921;
            font-size: 3em;
            margin: 0px;
            padding-top: 30px;
            padding-bottom: 10px;
        }

        .stepimages {
            width: 200px; 
            height: auto;
        }

        .cta-button-process a {
            display: inline-block;
            text-decoration: none;
            text-align: center;
            padding: 30px ;
            background-color: #821921; 
            color: #F5F5F5; 
            border-radius: 50px;
            white-space: nowrap;
            font-family: 'Montserrat', monospace;
            margin-bottom: 30px;
            margin-top: 10px;
        }
        
        .cta-button-process a:hover {
            text-decoration: none;
            display: inline-block;
            text-align: center;
            padding: 30px;
            background-color: #646559; 
            color: #F5F5F5; 
            border-radius: 50px;
            white-space: nowrap;
            font-family: 'Montserrat', monospace;
            margin-bottom: 30px;
            margin-top: 10px;
        }

        .cta-button-services a {
            display: inline-block;
            text-decoration: none;
            text-align: center;
            padding: 30px ;
            background-color: #646559; 
            color: #F5F5F5; 
            border-radius: 50px;
            white-space: nowrap;
            font-family: 'Montserrat', monospace;
            margin-bottom: 30px;
            margin-top: 10px;
        }
        
        .cta-button-services a:hover {
            text-decoration: underline;
            display: inline-block;
            text-align: center;
            padding: 30px;
            background-color: #646559; 
            color: #F5F5F5; 
            border-radius: 50px;
            white-space: nowrap;
            font-family: 'Montserrat', monospace;
            margin-bottom: 30px;
            margin-top: 10px;
        }

        .box-container-start {
            text-align: center;
            justify-content: space-around; 
            background-color: #B3BFAF;
            font-family: 'IBM Plex Serif', 'Courier New', Courier;
        }

/* Trusted By Section */
        h2.trust {
            color: #821921;
            text-align: center;
            font-size: 3em;
            font-family: 'IBM Plex Serif', 'Courier New', Courier;
            background-color: #F5F5F5;
            margin: 0px;
            padding: 25px;
        }

        .trustimages {
            width: 200px; 
            height: 200px;
            border-radius: 100%;
            border-color: #F5F5F5;
            filter: grayscale(100%);
        }

        .box-trust-container{
            display: flex;
            justify-content: space-around;
            padding-left: 100px;
            padding-right: 100px;
            background-color: #F5F5F5;
        }

        .box-trust {
            text-align: center;
            padding: 1px;
            background-color: #F5F5F5;
            border-radius: 50px;
            margin-left: 5px;
            margin-right: 5px;
            font-family: 'Montserrat', monospace;
            color: #646559;
            font-weight: bold;
        }

/* Testimonials Section */
        h2.testimonials {
            color: #F5F5F5;
            text-align: left;
            font-size: 2em;
            font-family: 'IBM Plex Serif', 'Courier New', Courier;
            margin: 0px;
            padding: 25px;
            padding-left: 110px;
            background-color: #B3BFAF;
        }

        h3.testimonials {
            color: #F5F5F5;
            font-size: 1.2em;
        }

        .box-testimonials-container{
            display: flex;
            justify-content: space-around;
            padding-left: 100px;
            padding-right: 100px;
            padding-bottom: 50px;
            background-color: #B3BFAF;
            
        }

        .box-testimonials {
            text-align: center;
            position: relative;
        }

        .box-testimonials-text {
            text-align: center;
            padding: 50px 10px 10px;
            background-color: #646559;
            border-radius: 10px;
            margin-left: 10px;
            margin-right: 10px;
            font-family: 'Montserrat', monospace;
            color: #F5F5F5;
        }

        .testimonialsimages {
            width: 80px;
            height: 80px;
            border-radius: 50%; 
            border-color: #B3BFAF;
            border-style: solid;
            border-width: 8px;
            margin-bottom: -40px;
            filter: grayscale(100%);
        }

/* Footer Section  */
        .bottomlinkmenulogo {
            margin-right: 50px;
        }

        p.footernote {
            text-align: center;
            font-family: 'Montserrat', monospace;
        }

        .bottomnav ul {
            list-style: none;
            text-align: left;
            gap: 50px;
            padding-left: 0px;
        }

        nav.bottomnav {
            margin-right: 50px;
        }

        h2.bottommenu {
            font-family: 'IBM Plex Serif', 'Courier New', Courier;
            text-align: left;
            color: #646559;
        }

        p.bottommenu {
            font-family: 'Montserrat', monospace;
            text-align: left;
        }

        .bottommenu a {
            font-family: 'Montserrat', monospace;
            color: #821921;
            text-decoration: none;
        }

        .bottommenu a:hover {
            font-family: 'Montserrat', monospace;
            color: #821921;
            text-decoration: underline;
        }

        .bottomnav a {
            text-decoration: none;
            color: black;
            font-weight: bold;
            font-family: 'Montserrat', monospace;
        }
        
        .topnav a:hover {
            text-decoration: underline;
            color: #821921;
        }

        .bottomlinkmenu {
            display: flex;
            align-items: flex-start;
            background-color: #F5F5F5;
            padding: 10px;
        }

        .cta-bottom {
            margin-right: 50px;
        }

        .subscribe-bottom {
            margin-right: 50px;
        }
        
        .cta-button-bottom a {
            display: inline-block;
            text-decoration: none;
            text-align: center;
            padding: 20px;
            background-color: #821921; 
            color: #F5F5F5; 
            border-radius: 50px;
            white-space: nowrap;
            font-family: 'Montserrat', monospace;
            margin-top: 10px;
        }
        
        .cta-button-bottom a:hover {
            text-decoration: none;
            display: inline-block;
            text-align: center;
            padding: 20px;
            background-color: #646559; 
            color: #F5F5F5; 
            border-radius: 50px;
            white-space: nowrap;
            font-family: 'Montserrat', monospace;
            margin-top: 10px;
        }

        .subscribe-button-bottom a {
            display: inline-block;
            text-decoration: none;
            text-align: center;
            padding: 20px;
            background-color: #646559; 
            color: #F5F5F5; 
            border-radius: 50px;
            white-space: nowrap;
            font-family: 'Montserrat', monospace;
            margin-top: 10px;
        }
        
        .subscribe-button-bottom a:hover {
            text-decoration: underline;
            display: inline-block;
            text-align: center;
            padding: 20px;
            background-color: #646559; 
            color: #F5F5F5; 
            border-radius: 50px;
            white-space: nowrap;
            font-family: 'Montserrat', monospace;
            margin-top: 10px;
        }


/* Desktop Version */
@media (min-width: 1200px) {
    /* Add any specific styles for desktop here */
}

/* Tablet Version */
@media (min-width: 501px) and (max-width: 1199px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    .logo img {
        margin-right: 0;
    }

    .topnav ul {
        flex-direction: column;
        gap: 10px;
        margin-right: 0;
        text-align: center;
        font-size: 1.5em;
    }

    .cta-button a {
        padding: 20px;
        font-size: 1.5em;
    }

    .cta-button a:hover {
        padding: 20px;
        font-size: 1.5em;
    }

    .cta-button a:active {
        padding: 20px;
        font-size: 1.5em;
    }

    .value {
        padding-left: 50px;
    }
    
    .valuesub {
        padding-left: 50px;
    }

    .valueowner {
        padding-left: 50px;
    }

    .box-container, .box-container-start, .box-trust-container, .box-testimonials-container {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .box {
        margin-bottom: 20px;
    }


    h2.testimonials {
        padding-left: 50px;
    }

    p.trustus {
        font-size: 2em;
    }

    p.stepnote {
        font-size: 1.5em;
        margin: 40px;
    }

    .box-testimonials {
        margin-bottom: 20px;
    }

    .bottomlinkmenu, .bottomnav, .subscribe-bottom, .cta-bottom {
        flex-direction: column;
    }
}

/* Phone Version */
@media (max-width: 500px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    .logo img {
        margin-right: 0;
    }

    .topnav ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 10px;
        margin-right: 0;
        text-align: center;
        font-size: 1em;
    }

    .cta-button a {
        padding: 30px;
        font-size: 1.5em;
    }

    .cta-button a:hover {
        padding: 30px;
        font-size: 1.5em;
    }
    
    .cta-button a:active {
        padding: 30px;
        font-size: 1.5em;
    }

    .value {
        padding-left: 30px;
        padding-right: 30px;
        font-size: 3em;
    }
    
    .valuesub {
        padding-left: 30px;
        padding-right: 30px;
        font-size: 2em;
    }

    .valueowner {
        padding-left: 30px;
        padding-right: 30px;
        font-size: 2em;
    }

    .box-container, .box-container-start, .box-trust-container, .box-testimonials-container {
        flex-direction: column;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
    }

    .box {
        margin-bottom: 20px;
    }

    h2.testimonials {
        padding-left: 20px;
    }

    h2.trust {
        font-size: 2em;
    }

    h3.box-step-process {
        font-size: 2em;
    }

    p.trustus {
        font-size: 2em;
    }

    p.stepnote {
        font-size: 1.5em;
        margin: 40px;
    }

    .box-testimonials {
        margin-bottom: 20px;
    }

    .bottomlinkmenu, .bottomnav, .subscribe-bottom, .cta-bottom {
        flex-direction: column;
    }

}